# Dependency directories
/node_modules
/bower_components

# Build and output directories
/build
/out
/.next
/.next/cache

# Environment variables file
.env

# OS-specific files and directories
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini

# Compiled binary files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.pyd

# Package files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Temporary files
*.swp
*~
*.log
*.tmp
*.bak
*.backup
*.old
*.orig

# Editor-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

